.pagination {
  margin: 15px 0;
}

.pagination .button-pag {
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.button-pag__current {
  background-color: var(--secondary-color);
  transition: background-color 0.25s linear;
}

.button-pag[disabled] {
  cursor: not-allowed;
}
