.product__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  margin: 0 20px;
}

.product__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 10px;
}

.button-create-container {
  display: flex;
  justify-content: center;
}

.input__select-container,
.input__image-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  max-width: 300px;

  label {
    margin: 7px 0;
  }

  @media screen and (min-width: 380px) {
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
  }
}

.input__select-container select,
.input__image-container input {
  cursor: pointer;
}

.input__image-container input {
  width: 200px;
  @media screen and (min-width: 380px) {
    position: relative;
    left: 15px;
  }
}

.input__select-container select {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
   
  @media screen and (min-width: 380px) {
    width: 185px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
