.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid var(--gray-opac35);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 25px;
  height: 80px;
  max-width: var(--max-width);
  margin: 0 auto;

  &__logo {
    font-size: 2.8rem;
    margin-bottom: 5px;

    &-capital {
      font-size: 3.5rem;
      background-image: linear-gradient(-45deg, #aa78e7 40%, #007bff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-lower {
      -webkit-text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
    }
  }
}

.header__nav {
  position: absolute;
  top: 130px;
  right: -215px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 800px) {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  transition: right 0.25s linear;
}

.header__nav.open {
  right: 65px;
}

.header__nav__item {
  text-align: center;
  margin: 10px 0px;
  @media screen and (min-width: 800px) {
    margin: 0 15px;
  }
}

.header__menu__item a:hover {
  color: var(--gray);
}

.header__menu__item a:active {
  color: var(--secondary-light-color);
}

.header__auth {
  top: 200px;
  right: -215px;
}

.header__auth.open {
  right: 65px;
}

.header__auth__item {
  display: flex;
  justify-content: center;
}

.hamburger__menu {
  position: fixed;
  top: 80px;
  right: -215px;
  z-index: 3;
  width: 215px;
  height: 300px;
  border-left: 1px solid var(--gray-opac50);
  border-bottom: 1px solid var(--gray-opac50);
  transition: right 0.25s linear;

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.hamburger__menu.open {
  top: 80px;
  right: 0;
}

.hamburger__icon {
  display: inline;
  position: absolute;
  cursor: pointer;
  filter: invert(100%);

  @media screen and (min-width: 800px) {
    display: none;
  }

  &--menu {
    top: 28px;
    right: 30px;
    transition: top 0.25s linear;

    &.closed {
      top: -50px;
    }
  }

  &--close.hamburger__icon {
    position: absolute;
    top: 100px;
    right: -240px;
    z-index: 1;
    transition: right 0.25s linear;

    &.open {
      right: 29px;
    }
  }
}

.open {
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-quantity {
  position: relative;
  top: -3px;
  left: 1px;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--warning-color);
  // border: 1px solid var(--warning-color);
}
