.product {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 10px;

  &__image {
    height: 200px;
    object-fit: contain;
  }
}

.base-price {
  text-decoration: line-through;
}
