body {
  padding: 0px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  padding-top: 140px;
}

.error-message {
  padding: 4px 9px;
  width: fit-content;
  color: var(--danger-dark-color);
  background: var(--danger-light-color);
  border: 1px solid var(--danger-color);
  border-radius: 4px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

.fade-in {
  animation: fadeIn 0.75s;
}

.title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  margin-bottom: 30px;
}

.glassy {
  background-color: var(--primary-opacity65-color);
  backdrop-filter: blur(4px);
}

.border {
  width: fit-content;
  padding: 20px;
  border: 1px solid var(--gray-opac35);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 14px 28px,
    rgba(0, 0, 0, 0.55) 0px 10px 10px;
  @media screen and (min-width: 800px) {
    padding: 45px;
  }
}
