* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Theme for colors */
:root {
  --primary-color: rgb(33, 33, 33);
  --primary-opacity50-color: rgba(33, 33, 33, 0.50);
  --primary-opacity65-color: rgba(33, 33, 33, 0.65);
  --primary-opacity90-color: rgba(33, 33, 33, 0.900);
  --secondary-color: #aa78e7;
  --secondary-ultralight-color: #e6d3ff;
  --secondary-light-color: #c192fd;
  --secondary-dark-color: #673e99;
  --secondary-opac25-color: #aa78e740;
  --secondary-opac50-color: #aa78e780;
  --tertiary-color: #007bff;
  --tertiary-light-color: #5cabff;
  --tertiary-dark-color: #00438b;
  --success-color: #2fbe51;
  --success-shadow-color: #489769;
  --success-opac25-color: rgba(51, 209, 117, 0.25);
  --success-opac50-color: rgba(51, 209, 117, 0.5);
  --danger-color: #dc3545;
  --danger-shadow-color: #974951;
  --danger-opac25-color: rgba(220, 53, 70, 0.25);
  --danger-opac50-color: #dc354680;
  --danger-light-color: rgb(255, 191, 191);
  --danger-dark-color: rgb(145, 0, 0);
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --white: white;
  --black: black;
  --gray: gray;
  --gray-opac35: rgba(128, 128, 128, 0.35);
  --gray-opac50: rgba(128, 128, 128, 0.50);
  --max-width: 1240px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}
